@import url(https://fonts.googleapis.com/css?family=Open+Sans);

ul {
    list-style: none;
}

#sidebar_home{
    position: relative;
    margin : 10px ;
    left: 10px;
    border: 1px solid #aaa;
    width: 25%;
}
.sidebar {
    top: 30px;
    font-family: sans-serif;
    padding-left: 60px;
    left : 20px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 20%;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(25%, #ffffff), color-stop(75%, #ffffff), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cccccc', GradientType=0); /* IE6-9 */
    cursor: pointer;
    box-shadow: 2px 2px 3px #666;
    user-select: none;
}

li:hover {
    border-color: #777;
    box-shadow: 3px 3px 5px #333;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(25%, #ffffff), color-stop(75%, #ffffff), color-stop(100%, #dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%, #ffffff 25%, #ffffff 75%, #dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0); /* IE6-9 */
}

li:hover:before {
    border-left-color: #777;
}

li:active {
    background: #eee;
    box-shadow: inset 0 1px 1px #666;
}

#tweet_butto {
    font-weight: bold;
    position: absolute;
    left: 75px;
    top: 380px;
    border: none;
    font-family: sans-serif;
    font-size: 0.875em;
    list-style-type: none;
    background-color: #1DA1F2; /* Blue background color */
    border-radius: 30px; /* Curve of border corners */
    color: white; /* Text color */
    height: 50px;
    line-height: 50px;
    margin: 5px;
    width: 280px;
}

#home {
    position: relative;
    text-align: center;
    margin: 5px 0px 5px ;
    height: 15%;
    width: inherit;
}

#tweet_txt {
    position: absolute;
    left: 30%;
    top: 15%;
    right: 25%;
    width: 40%;
    height: 20%;
    align-content: center;
    border-radius: 30px; /* Curve of border corners */
}

textarea .placeholder {
    font-size: 14px;
}

#send_tweet_button {
    font-weight: bold;
    position: absolute;
    left: 800px;
    top: 280px;
    border: none;
    font-family: sans-serif;
    font-size: 0.875em;
    list-style-type: none;
    background-color: #1DA1F2; /* Blue background color */
    border-radius: 30px; /* Curve of border corners */
    color: white; /* Text color */
    height: 50px;
    line-height: 50px;
    margin: 5px;
    width: 120px;
}

#search_txt {
    position: relative;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    border-radius: 25px; /* Curve of border corners */
}
#sidebar_search{
    width: 25%;
    left: 75%;
    right: 5px;
    top: 15%;
    align-content: center;
}

#page_center{
    width: 25%;
}
.tweets {
    list-style: -moz-gurmukhi;
    position: relative;
    padding: 20px;
    left: 420px;
    top: 140px;
    height: 150px;
    margin: 5px;
    border-radius: 8px;
    width: 50%;
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(25%, #ffffff), color-stop(75%, #ffffff), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cccccc 0%, #ffffff 25%, #ffffff 75%, #cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cccccc', GradientType=0); /* IE6-9 */
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 3px #666;
    user-select: none;
}