#logo{  
    width: 100px;
    height: 100px;
    position: relative ;
    display: block;
    margin: 30px auto 20px;
}


.warn{
    size: 12px;
    color: crimson;
    font-family: SansSerif;
    margin-right: 30%;
    margin-left: 30%;
}
#page-name{
    size: 40px;
    font-family: SansSerif;
    text-align: center;
    text-decoration: solid;
    position: relative;
}

#signup-btn{
    margin: 20px 30% 15px;
    width: 40%;
    border-radius: 25px;
    position: relative;
}

#email , #password , #confirm-password , #username{
    margin: 10px auto ;
    position: relative;
    width: 40%;
}


a{
    size: 14px;
    margin-left: 30%;
}